body, html{ height: 100%; background-repeat: no-repeat; background-color: #fff; }
p { margin:15px; }
a, a:hover, a:focus { text-decoration: none !important; color: #333 !important; }
h1 { color:#900; margin:0; line-height:52px; margin-left:15px; font-size: 20px; }
h1.loading { font-size: 72px; position:absolute; top:50%; width: 100%; text-align: center; margin: -75px 0 0 0; padding: 0; height: 100px; line-height: 100px; text-shadow: 1px 1px 2px rgba(150, 150, 150, 1); }
h2 { color: #900; margin: 15px 0 15px 25px; font-size: 30px; }

.page { position:relative; background:#fff; padding:48px 0 0 0 !important; margin: 0 auto !Important; width:100%; min-height: 100%; overflow-x: hidden; }
.holder { width:100%; margin:0 auto; clear:both; min-height:48px; }
header {width:100%;height:48px;background:#901;position: fixed;top: 0; left: 0; border-bottom: 2px solid #fff;}
header h1 { color:#fff; display:inline; }

ul { padding:1px; }
ul li {height: 24px;line-height: 24px;}
ul li.header {font-weight:bold;height: 30px;line-height: 30px;}}
ul li a { font-size: 12px; color:#fff !important; }


#log { position: absolute; background: rgba(0,0,0,0.95); width: 100%; height: 6%; line-height: 20px; bottom: 0; left: 0; padding: 10px; font-size: 12px; overflow-y: auto; color: #ccc; }
#log.open { height: 100%; }

